<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="amirz.applauncher">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="amirz.assistmapper.PickerActivity"
            android:label="@string/title_activity_picker"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <service
            android:name="amirz.assistmapper.AssistLoggerService"
            android:permission="android.permission.BIND_VOICE_INTERACTION">
            <meta-data
                android:name="android.voice_interaction"
                android:resource="@xml/assist_service"/>
            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService"/>
            </intent-filter>
        </service>

        <service
            android:name="amirz.assistmapper.AssistLoggerSessionService"
            android:permission="android.permission.BIND_VOICE_INTERACTION"/>

        <activity
            android:name="amirz.assistmapper.AssistLaunchActivity"
            android:theme="@style/removeAnimation">
            <meta-data
                android:name="com.android.systemui.action_assist_icon"
                android:resource="@mipmap/assist_icon" />
            <intent-filter>
                <action android:name="amirz.assistmapper.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE" />
            </intent-filter>
        </activity>
    </application>
</manifest>